h3 {
    color: white;
    margin: 25px 50px 0 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
    color: white;
    text-align: right;
    margin-right: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;

}

#buttonContainer {
    text-align: center;
    position: fixed;
}

#newQuoteButton {
    background-color: green;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    width: 90px;
    height: 30px;
    position: fixed;
    right: 330px;
    top: 180px;
    
}