h3 {
            color: white;
            margin: 25px 100px 0 200px;
            font-family: "Comic Sans MS", cursive, sans-serif;
            -webkit-animation: appear 2s;
            animation: appear 2s;
        }

        p {
            color: white;
            text-align: right;
            margin-right: 50px;
            font-family: "Comic Sans MS", cursive, sans-serif;
        }


        #buttonContainer {
            text-align: center;
            position: fixed;
        }
        

        #newQuoteButton {
            background-color: green;
            color: white;
            border-radius: 5px;
            border: 1px solid black;
            width: 90px;
            height: 30px;
            position: fixed;
            right: 630px;
            top: 210px;
            box-shadow: 0 2px black;
        }
        
        #newQuoteButton:focus {
            outline: none;
        }
        
        #newQuoteButton:disabled {
            background-color: grey;
            color: lightgray;
        }
        
        #newQuoteButton:active {
            box-shadow: 0 1px black;
            transform: translateY(4px);  /*found this code to give button the illusion of being pressed down: https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate3*/
        }
        
        
        
        #grid-container {
            display: grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            grid-column-gap: 30px;
            justify-content: right;
            margin-right: 50px;
        }
        
        #grid-item1 {
            width: 75px;
            grid-row-start: span 2;
            margin-top: 30px;
            border-radius: 5px;
            opacity: 1;
            -webkit-animation: appear 2s;
            animation: appear 2s;
        }
        
        #grid-item2 {
            -webkit-animation: appear 2s;
            animation: appear 2s;
        }
        
        #grid-item3 {
            grid-column-start: 2;
            margin-top: -39px; 
            margin-left: 10px;
            -webkit-animation: appear 2s;
            animation: appear 2s;
            
        }
        
        #grid-item4 {
            grid-column-start: 2;
            grid-row-start: 3;
            margin-top: -39px;
            margin-left: 10px;
            -webkit-animation: appear 2s;
            animation: appear 2s;
        }
        
        .fade-in {
            -webkit-animation: appear 2s;
            animation: appear 2s;
        }
        
        @keyframes appear {
          from {opacity: 0;}
          to {opacity: 1;}
        }
        
        @-webkit-keyframes appear {
          from {opacity: 0;}
          to {opacity: 1;}
        }